.back-btn{
    position: fixed;
    left: 0;
    top: 35%;
    background-color: #ccc;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    flex-direction: column;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}